---
layout: default
---
<section class="index-hero index-bg">
  {% include header.html %}
  <h2 class="index-hero__subtitle">Komdu með og <br> upplifðu ævintýri</h2>
</section>

<div class="index-content">

  <p class="index-content__intro-text">Við viljum gefa ímyndunaraflinu stað í raunveruleikanum. Okkur langar að bjóða börnum og fullorðnum með okkur í heillandi ljóðrænt ferðalag inní ríki ímyndunaraflsins. Á stað þar sem við raungerum það og getum á einlægan hátt upplifað náttúruna og reynt á alvöru hugrekki, þor og samhjálp. Þar sem að við getum upplifað okkur sjálf sem hluta af samfélagi, í félagi við aðra og látið drauma okkar rætast.
  </p>

  <h3 class="index-contnet__courses-header">Dagsetningar fyrir Sumarbúðir</h3>
  <p class="index-course__description mobile-course-description">Vika 1 23 júní - 28 júní</p>
  <p class="index-course__description mobile-course-description">Vika 2 1 júlí - 6 júlí</p>


  <div class="index-content__course-container">
    <h3 class="index-contnet__courses-header">D</h3>


    <div class="course-moile">
      <div class="index-content__courses__arrow">
        <img src="./icons/prev.svg" class="courses__arrow-prev-tag prev-tag" alt="prev-ivon">
        <img src="./icons/next.svg" class="courses__arrow-next-tag next-tag" alt="next-icon">
      </div>

      <div class="index-content__course-wrapper-mobile">
        <article class="index-course">
          <h3 class="index-course__title mobile-course-title">Sumarbúðir</h3>
          <img class="index-course__image mobile-course-image" src="images/sumarbudir.jpg" alt="Sumarbudir">
          <p class="index-course__description mobile-course-description">Fyrir börn á aldrinum 8 - 13 ára. Komdu inn í heim sagna og ævintýra og upplifðu söguna á eigin skinni. Tjaldaðu með okkur í fallega græna dalnum okkar í heila viku og lifðu og leiktu þér undir þaki heimsins, kveiktu varðeld, eldaðu mat og taktu þátt í frábæru ævintýri.</p>
          <div class="index-course__button-container">
            <div class="index-course__button">
              <a class="index-course__button-link mobile-course-link-more" href="/sumarbudir">
                UPPLÝSINGAR &amp; SKRÁNING
              </a>
            </div>
            <div class="index-course__button">
              <a
              class="index-course__button-link mobile-course-link-direct"
              href="#"
              target="_blank"
              rel="noopener noreferrer">
                SKRÁ NÚNA
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="index-content__course-wrapper">
      <article class="index-course">
        <h3 class="index-course__title">Sumarbúðir</h3>
        <img class="index-course__image" src="images/sumarbudir.jpg" srcset="images/sumarbudir.jpg 1x, images/sumarbudir@2x.jpg 2x" alt="Sumarbudir">
        <p class="index-course__description">Fyrir börn á aldrinum 8 - 13 ára. Komdu inn í heim sagna og ævintýra og upplifðu söguna á eigin skinni. Tjaldaðu með okkur í fallega græna dalnum okkar í heila viku og lifðu og leiktu þér undir þaki heimsins, kveiktu varðeld, eldaðu mat og taktu þátt í frábæru ævintýri.</p>
        <div class="index-course__button-container">
          <div class="index-course__button">
            <a class="index-course__button-link" href="/sumarbudir">
              UPPLÝSINGAR &amp; SKRÁNING
            </a>
          </div>
          <div class="index-course__button">
            <a
            class="index-course__button-link mobile-course-link-direct"
            href="/sumarbudir#summercamp"
            target="_blank"
            rel="noopener noreferrer">
            SKRÁ NÚNA
            </a>
          </div>
        </div>
      </article>

      <article class="index-course">
        <h3 class="index-course__title">Sirkus</h3>
        <img class="index-course__image" src="/images/sirkus.jpg" srcset="images/sirkus.jpg 1x, images/sirkus@2x.jpg 2x" alt="sirkus">
        <p class="index-course__description">Lærðu að leika sirkuslistir í fellegu umhverfi Lækjarbotna undir berum himmni. Á námskeiðinu verður farið í undirstöðuatriðinn í sirkus. Komdu með og upplifðu að takast á við hið ótrúlega á fallegum stað.</p>
        <div class="index-course__button-container">
          <div class="index-course__button button-large">
            <a class="index-course__button-link" href="/sirkus">
              UPPLÝSINGAR &amp; SKRÁNING
            </a>
          </div>
          <div class="index-course__button">
            <a class="index-course__button-link mobile-course-link-direct" href="#">
              SKRÁ NÚNA
            </a>
          </div>
        </div>
      </article>

      <article class="index-course">
        <h3 class="index-course__title">Leikdagur</h3>
        <img class="index-course__image" src="images/leikdagur.jpg" srcset="images/leikdagur.jpg 1x, images/leikdagur@2x.jpg 2x" alt="leikdagur">
        <p class="index-course__description">Leikur fyrir alla á aldrinum 1 - 100 ára.  Þetta er tækifæri til að leika sér saman bæði fullorðnir og börn, upplifa einstaka stemmingu þar sem allir koma saman að byggja og leika sér úti í grasgrænni náttúrunni.</p>
        <div class="index-course__button-container">
          <div class="index-course__button">
            <a class="index-course__button-link" href="/leikdagur">
              UPPLÝSINGAR &amp; SKRÁNING
            </a>
          </div>
          <div class="index-course__button">
            <a class="index-course__button-link mobile-course-link-direct" href="#"></a>
            SKRÁ NÚNA
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

{% include email.html %}

<script src="/js/course.js" type="text/javascript"></script>
