---
layout: default
---

<section class="index-hero sumarbudir-bg">
  {% include header.html %}
  <h2 class="index-hero__subtitle">
    Upplifðu söguna <br />
    á eigin skinni
  </h2>
</section>

<div class="index-content">
  <p class="index-content__intro-text">
    Sumarbúðir söguheima eru fimm til sjö daga ferðalag um sagnaheim ævintýrisins sem í boði er
    hverju sinni. Ævintýrið á sér stað í ævintýra dalnum í fallegu umhverfi Lækjarbotna. Þar reisum
    við tjöldin okkar og kveikjum upp varðeld undir gullnu þaki heimsins. Við ætlum að kynnast
    heiminum, náttúrunni og hvert öðru í gegnum útiveru og leik. Við munum horfa á eftir
    miðnætursólinni, sofa í tjöldunum og sitja við eldinn og búa saman í eina viku. Á daginn munum
    við æfa sirkus og dans, læra að tálga og skjóta boga, elda ljúfengan mat og mála úti með
    vatnslitum, teikna og segja sögur.
  </p>

  <p class="index-content__caption-text">
    Sumarbúðir söguheima eru fimm til sjö daga ferðalag um sagnaheim ævintýrisins sem í boði er
    hverju sinni.
  </p>

  <p class="index-content__intro-text">
    Í sumarbúðunum er farið inní eina sögu hverja viku. Þar söfnumst við saman í kringum
    sögupersónur og sögusvið sögunnar sem á sér stað. Á daginn munum við leika okkur í söguheimi
    sögunnar fá að upplifa hana, heyra og taka þátt í henni. Við fylgjum eftir sögupersónunum og
    þeim raunum og þrautum sem þær þurfa að leysa og tileinkum okkur þau sannindi og gildi sem er að
    finna í hverri sögu. Við snarkandi varðeld undir himinhvolfinu. Upplifðu söguna á eigin skinni.
  </p>

  <div class="index-content__courses-container" id="summercamp">
    <h1 class="index-content__courses__title">Sumarbúðir</h1>
    <h2 class="index-content__courses__sub-title">Galdrakarlinn í OZ</h2>
    <div class="index-content__courses">
      <div>
        <p class="weakTitle">Vika 1</p>
        <a
          class="courses-anchor"
          href="https://docs.google.com/forms/d/1uCSrtzKfdMl93YQ1cQznCetAFRpBA2UQ4-URUeOkdQU/edit"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="course accept">
            <div class="course-date-background">
              <p class="course-date">24.júní - 29.júní</p>
            </div>
            <p class="course-info">Fyrir 8-13 ára</p>
            <p class="course-info">Verð 55.000</p>
          </div>
        </a>
      </div>

      <div>
        <p class="weakTitle">Vika 2</p>
        <a
          class="courses-anchor"
          href="https://docs.google.com/forms/d/17DxsbNkRhP1Nr47OO347zXzTBHPeVI58fIi79J_nEF4/edit"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="course accept">
            <div class="course-date-background">
              <p class="course-date">2.júlí - 7.júlí</p>
            </div>
            <p class="course-info">Fyrir 8-13 ára</p>
            <p class="course-info">Verð 55.000</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% include faq-sumarbudir.html %} {% include email.html %}
