.index-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: auto;
  padding: 30px 16px 0 16px;
}

/* background images */

.index-bg {
  background: url("/images/hero-heim-mobile.jpg");
  background-position: center center;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
}

.sumarbudir-bg {
  background: url("/images/hero-sumarbudir-mobile.jpg");
  background-position: center center;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
}

.sirkus-bg {
  background: url("/images/hero-sirkus-mobile.jpg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position: right center;
}

.leikdagur-bg {
  background: url("/images/hero-leikdagur-mobile.jpg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position: top center;
}

.umOkkur-bg {
  background: url("/images/hero-umOkkur-mobile.jpg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position: center center;
}

.index-hero__subtitle {
  font-size: 41px;
  margin-bottom: 4em;
  font-weight: 400;
  color: $white;
  text-align: center;
}

.index-content {
  padding: 5vh 0vw;
  margin: 0 auto;
  max-width: $page-max-width;
  font-size: 18px;
}

.index-content__intro-text {
  padding: 0 5vw;
  margin: 0 auto;
  font-size: 18px;
}

.index-content__caption-text {
  color: $yellow;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 5vw 2vw;
  margin: 20px 0;
}

.index-content__course-container {
  margin: 72px 0;
  overflow: hidden;
}

.index-contnet__courses-header {
  font-size: 40px;
  text-align: center;
  color: $yellow;
  text-transform: uppercase;
}

/* mobile course */

.index-content__courses__arrow {
  position: relative;
  top: 400px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 1;
}

.courses__arrow-next-tag,
.courses__arrow-prev-tag {
  padding: 6px;
}

.index-content__course-wrapper-mobile {
  position: static;
  display: flex;
  justify-content: center;
}

.index-content__course-wrapper-mobile.unwrap {
  flex-wrap: nowrap;
}

.index-content__course-wrapper {
  display: none;
}

.index-course {
  width: 270px;
  height: auto;
  margin: 20px 10px;
  padding: 30px 0;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 2px 40px rgb(242, 242, 242);
}

.index-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-course__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.index-course__image {
  border-radius: 100%;
  height: 165px;
  width: 165px;
  margin: 25px 0;
}

.index-course__description {
  width: 245px;
  height: 250px;
}

.index-course__button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.index-course__button {
  font-size: 16px;
  text-align: center;
  color: $red;
  background-color: $white;
  border: 2px solid $blue;
  border-radius: 100px;
  padding: 12px 20px;
  margin-top: 30px;
}

.index-course__button:hover {
  background-color: $blue;
  color: $white;
  box-shadow: 0px 2px 40px rgb(242, 242, 242);
}

@media screen and (min-width: 700px) {
  .index-hero {
    height: 70vh;
    padding: 80px 40px 0 40px;
  }

  .index-bg {
    background: url("/images/hero-heim-desktop.jpg");
    background-size: cover;
    background-position: center center;
    background-size: cover;
  }

  .sumarbudir-bg {
    background: url("/images/hero-sumarbudir-desktop.jpg");
    background-position: center center;
    background-size: cover;
  }

  .sirkus-bg {
    background: url("/images/hero-sirkus-dektop.jpg");
    background-position: left center;
    background-size: cover;
  }

  .leikdagur-bg {
    background: url("/images/hero-leikdagur-desktop.jpg");
    background-position: top center;
    background-size: cover;
  }

  .umOkkur-bg {
    background: url("/images/hero-umOkkur-desktop.jpg");
    background-position: center center;
    background-size: cover;
  }

  .index-hero__subtitle {
    margin-bottom: 3.5em;
  }

  .index-content__intro-text,
  .index-content__caption-text {
    padding: 5vh 14vw 0;
  }

  .courses__arrow-next-tag,
  .courses__arrow-prev-tag {
    padding: 6px 70px;
  }

  .index-course {
    padding: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .index-hero {
    height: 90vh;
  }

  .index-hero__subtitle {
    font-size: 80px;
    margin-top: 3.5em;
  }

  .index-content__intro-text {
    font-size: 25px;
  }

  .index-content__caption-text {
    font-size: 30px;
  }

  .index-content__course-wrapper-mobile,
  .index-content__courses__arrow {
    display: none;
  }

  .index-content__course-wrapper {
    display: flex;
    justify-content: center;
  }
}


.date-container {
    display: flex;
    justify-content: center;

}

.date-header {
    font-size: 40px;
    text-align: center;
    color: $yellow;
    text-transform: uppercase;
}

.date_description {
    font-size: 16px;
    display: flex;
    justify-content: center;
}
